@font-face {
  font-family: "GeometosNeueLight";
  src: local("GeometosNeueLight"),
    url(./@fonts/GeometosNeueLight.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "GeometosNeueLight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "GeometosNeueLight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "GeometosNeueLight";
}

a {
  text-decoration: none !important;
  color: inherit !important;
  cursor: pointer;
}

.signupButton {
  border-radius: 0 20px 20px 0 !important;
}

.loginButton {
  border-radius: 20px 0 0 20px !important;
}

.dropdown-toggle::after {
  display: none !important;
}
